<h3> All Circles </h3>
<br>
<div class="column">

    <div class="circles">
        <ul>
            <li *ngFor = "let circle of circles">
                {{circle.name}}
            </li>
        </ul>
    </div>
</div>