.heading{
    border-style: none;
    border-color: blue;
    font-size: 40px;
    color: darkblue;
    font-stretch: extra-expanded;
    text-align: center;
    background-color: skyblue
}
*{
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    text-align: center;
}
.column{
    float: left;
    padding: 10px;
    height: 520px;
}
.column.left{
    float: left;
    width: 15%;
    background-color: lightgreen;
}
.column.right{
    float: right;
    width: 15%;
    background-color: lightgreen;
}
.column.middle{
    width: 70%;
    background-color: lightgray;
    float: left;
}