<div class='heading'> {{heading}} </div>

<div>
    <div class="column left">
        <app-circle></app-circle>
    </div>
    <div class="column middle">
        <app-message></app-message>
    </div>
    <div class="column right">
        <app-user></app-user>
    </div>
</div>