<h3> All Messages </h3>
<br>
<div class="column">

    <div class="messages">
        <ul>
            <li *ngFor = "let message of messages">
                {{message.name}} &emsp; {{message.message}}
            </li>
        </ul>
    </div>
</div>