<h3> All Users </h3>
<br>
<div class="column">

    <div class="users">
        <ul>
            <li *ngFor = "let user of users">
                {{user.name}}
            </li>
        </ul>
    </div>
</div>

